body, html {
  margin: 0;
  padding: 0;
  font-family: monospace, 'Courier New', Courier;
  background-color: #000;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 2rem;
  min-height: 100vh;
}

.card {
  background: #000;
  border-radius: 0;
  box-shadow: none;
  border: 1px solid #FFF;
  padding: 1.5rem;
  margin-bottom: 1rem;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-family: monospace;
  border: 1px solid #FFF;
  border-radius: 0;
  background-color: #000;
  color: #FFF;
  cursor: pointer;
  transition: all 0.1s ease-in-out;

  &:hover {
    background-color: #FFF;
    color: #000;
    font-weight: bold;
  }

  &:disabled {
    background-color: #222;
    color: #555;
    border-color: #555;
    cursor: not-allowed;
  }
}

input[type="text"] {
  background: #111;
  color: #FFF;
  border: 1px solid #FFF;
  border-radius: 0;
  font-family: monospace;
  padding: 0.5rem;
  font-size: 1rem;

  &:disabled {
    background: #222;
    color: #555;
    border-color: #555;
  }
}
